[org/gnome/desktop/screensaver]
lock-enabled=true
idle-activation-enabled=true
lock-delay=uint32 5

[org/gnome/login-screen]
enable-smartcard-authentication={{ smartcard_authentication }}

[org/gnome/desktop/session]
# Set the lock time out to 900 seconds before the session is considered idle
idle-delay=uint32 900