{
    "description": "Default policy for Alpine Linux",

    "variable": { "internet_if": "{{ ansible_default_ipv4["interface"] }}" },

    "zone": {
        "internet": { "iface": "$internet_if" }
    },

    "policy": [
        { "in": "internet", "action": "drop" }
    ],

    "filter": [
        { 
            "in": "internet",
            "service": "ping",
            "action": "accept",
            "flow-limit": { "count": 10, "interval": 6 }
        },
        {
            "in": "internet",
            "out": "_fw",
            "service": "ssh",
            "action": "accept",
            "flow-limit": { "count": 3, "interval": 60 }
        },
        {
            "in": "_fw",
            "out": "internet",
            "service": [ "dns", "http", "https", "ntp" ],
            "action": "accept"
        },
        {
            "in": "_fw",
            "service": [ "ping", "ssh" ],
            "action": "accept"
        }
    ]
}