#
# /etc/login.defs - Configuration control definitions for pwdutils package.
#
# Comment lines (lines beginning with "#") and blank lines are ignored.
# Please read the manual page for more information (login.defs.5).
#

USERGROUPS_ENAB yes
ENCRYPT_METHOD SHA512

#
# Should login be allowed if we can't cd to the home directory?
# Default is yes.
#
DEFAULT_HOME		yes

#
# The default PATH settings (used by login):
#
ENV_PATH                /usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin

#
# Delay in seconds before being allowed another attempt
# after a login failure
#
FAIL_DELAY		3

#
# Enable logging and display of /var/log/lastlog login time info.
#
LASTLOG_ENAB		yes

#
# Enable display of unknown usernames when login failures
# are recorded.
#
LOG_UNKFAIL_ENAB	no

#
# Max number of login retries if password is bad
# This variable is deprecated and will be removed with the next version.
#
LOGIN_RETRIES		3

#
# Max time in seconds for login
#
LOGIN_TIMEOUT		60

#
# If defined, ":" delimited list of "message of the day" files to
# be displayed upon login.
#
MOTD_FILE	/etc/motd

#
# If defined, file which maps tty line to TERM environment parameter.
# Each line of the file is in a format something like "vt100  tty01".
#
TTYTYPE_FILE	/etc/ttytype

#
# Terminal permissions
#
#	TTYGROUP	Login tty will be assigned this group ownership.
#	TTYPERM		Login tty will be set to this permission.
#
# If you have a "write" program which is "setgid" to a special group
# which owns the terminals, define TTYGROUP to the group number and
# TTYPERM to 0620.  Otherwise leave TTYGROUP commented out and assign
# TTYPERM to either 622 or 600.
#
TTYGROUP	tty
TTYPERM		0620

#
# Require password before chfn/chsh can make any changes.
#
CHFN_AUTH		yes

#
# Which fields may be changed by regular users using chfn - use
# any combination of letters "frwh" (full name, room number, work
# phone, home phone).  If not defined, no changes are allowed.
# For backward compatibility, "yes" = "rwh" and "no" = "frwh".
#
CHFN_RESTRICT		rwh

#
# Password aging controls (used by useradd):
#
#	PASS_MAX_DAYS	Maximum number of days a password may be used.
#	PASS_MIN_DAYS	Minimum number of days allowed between password changes.
#	PASS_WARN_AGE	Number of days warning given before a password expires.
#
PASS_MAX_DAYS	{{ pass_max_days }}
PASS_MIN_DAYS	{{ pass_min_days }}
PASS_WARN_AGE	{{ pass_warn_age }}

#
# Min/max values for automatic uid selection in useradd
#
# SYSTEM_UID_MIN to SYSTEM_UID_MAX inclusive is the range for
# UIDs for dynamically allocated administrative and system accounts.
# UID_MIN to UID_MAX inclusive is the range of UIDs of dynamically
# allocated user accounts.
#
UID_MIN			 1000
UID_MAX			60000

#
# Min/max values for automatic gid selection in groupadd
#
# SYSTEM_GID_MIN to SYSTEM_GID_MAX inclusive is the range for
# GIDs for dynamically allocated administrative and system groups.
# GID_MIN to GID_MAX inclusive is the range of GIDs of dynamically
# allocated groups.
#
GID_MIN			 1000
GID_MAX			60000

#
# The UMASK value for useradd can be found in /etc/default/useradd,
# this variable here is deprecated and currently only used as fallback
# by pam_umask.so.
#
UMASK			{{ user_umask }}